body {
  max-width: 1240px;
  margin: 0 20px;
  font-family: "Lato", sans-serif;
}

header {
  text-align: center;
}
header img {
  max-height: 100px;
  max-width: 100%;
  margin: 40px 0 15px 0;
}
header #searchbar {
  position: relative;
  width: 100%;
  margin: 2px auto;
  text-align: center;
}
header #searchbar input {
  width: 100%;
  border: none;
  background-color: #E7E7E7;
}
header #searchbar i {
  position: absolute;
  right: 25px;
}

nav {
  height: 150px;
}
nav .dropdown {
  position: relative;
}
nav .dropdown-menu {
  position: absolute;
  left: 25px;
  top: 23px;
  width: 40vw;
  max-width: 700px;
  height: 24vw;
  max-height: 400px;
}
nav .dropdown-menu .fa-chevron-up {
  position: absolute;
  right: 16px;
  top: 24px;
  color: #FFF;
}
nav .dropdown-search {
  width: 94%;
  max-width: 650px;
  background: transparent;
  border: none;
  color: #FFF;
  opacity: 0.5;
  font-size: 18px;
  font-weight: 700;
}
nav .dropdown-search:focus {
  background: transparent;
  border: none;
  color: #FFF;
  opacity: 1;
}
nav .dropdown-search::-moz-placeholder {
  color: #FFF;
}
nav .dropdown-search:-ms-input-placeholder {
  color: #FFF;
}
nav .dropdown-search::placeholder {
  color: #FFF;
}
nav .dropdown .btn {
  height: 70px;
  width: 180px;
  margin: 25px;
  margin-left: 0;
  text-align: left;
}
nav .dropdown .btn:focus {
  box-shadow: none;
}
nav .dropdown .btn:focus + div {
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}
nav .dropdown .btn .fa-chevron-down {
  position: absolute;
  right: 40px;
  top: 52px;
}
nav .dropdown .btn, nav .dropdown .dropdown {
  color: #FFF;
}
nav .dropdown .btn__ingredients, nav .dropdown .dropdown__ingredients {
  border-color: #3282F7;
  background-color: #3282F7;
}
nav .dropdown .btn__apparels, nav .dropdown .dropdown__apparels {
  border-color: #68D9A4;
  background-color: #68D9A4;
}
nav .dropdown .btn__ustensils, nav .dropdown .dropdown__ustensils {
  border-color: #ED6454;
  background-color: #ED6454;
}

.recipes .card {
  max-width: 380px;
  height: 364px;
  background-color: #E7E7E7;
}
.recipes .card__preview {
  border-radius: 3px 3px 0 0;
  height: 170px;
  background-color: #C7BEBE;
}
.recipes .card__field {
  padding: 20px;
  height: 186px;
}
.recipes .card__header {
  align-items: center;
  margin-bottom: 20px;
}
.recipes .card__title {
  display: inline-block;
  max-width: 240px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}
.recipes .card__time {
  width: 92px;
  font-size: 18px;
  font-weight: 700;
  text-align: right;
  white-space: nowrap;
}
.recipes .card__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 12px;
}
.recipes .card__content__ingredients ul {
  padding-left: 0;
  list-style: none;
}
.recipes .card__content__recipe p {
  height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}

/* This trick makes recipe wrap after six lines instead of one */
/* It's supported by all modern navigators */
@supports (display: -webkit-box) {
  .card__content__recipe p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
  }
}
/* This trick aligns the last element to the left when screen can display three columns */
/* Works for any  */
@media screen and (min-width: 1180px) {
  .recipes::after {
    content: "";
    flex: auto;
    max-width: 380px;
  }
}
/* This allows for max 1440px width with 100px margin on each side */
@media screen and (min-width: 1240px) {
  body {
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */